* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #050505;
  color: #fff;
  /* Support for iOS safe areas */
  padding-bottom: env(safe-area-inset-bottom);
  /* Prevent overscroll bounce on mobile */
  overscroll-behavior-y: none;
}