/* Modern custom checkbox style */
.custom-checkbox {
  position: relative;
  display: inline-block;
}

/* Hidden input */
.custom-checkbox > input {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  z-index: -1;
  position: absolute;
  left: -10px;
  top: -8px;
  display: block;
  margin: 0;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: rgba(238, 67, 44, 0.6);
  box-shadow: none;
  outline: none;
  opacity: 0;
  transform: scale(1);
  pointer-events: none;
  transition: opacity 0.3s, transform 0.2s;
}

/* Span container */
.custom-checkbox > span {
  display: inline-block;
  width: 100%;
  cursor: pointer;
}

/* Box styling */
.custom-checkbox > span::before {
  content: "";
  display: inline-block;
  box-sizing: border-box;
  margin: 3px 11px 3px 1px;
  border: solid 2px;
  border-color: rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  width: 22px;
  height: 22px;
  vertical-align: top;
  transition: all 0.2s ease-in-out;
}

/* Checkmark styling */
.custom-checkbox > span::after {
  content: "";
  display: block;
  position: absolute;
  top: 6px;
  left: 6px;
  width: 12px;
  height: 6px;
  border: solid 2px transparent;
  border-right: none;
  border-top: none;
  transform: translate(0, 0) rotate(-45deg);
  transition: all 0.2s ease-in-out;
}

/* Checked state */
.custom-checkbox > input:checked,
.custom-checkbox > input:indeterminate {
  background-color: #EE432C;
}

.custom-checkbox > input:checked + span::before,
.custom-checkbox > input:indeterminate + span::before {
  border-color: #EE432C;
  background-color: #EE432C;
}

.custom-checkbox > input:checked + span::after,
.custom-checkbox > input:indeterminate + span::after {
  border-color: #fff;
}

/* Hover and focus states */
.custom-checkbox:hover > input {
  opacity: 0.04;
}

.custom-checkbox > input:focus {
  opacity: 0.12;
}

.custom-checkbox:hover > input:focus {
  opacity: 0.16;
}

/* Active state */
.custom-checkbox > input:active {
  opacity: 1;
  transform: scale(0);
  transition: transform 0s, opacity 0s;
}

.custom-checkbox > input:active + span::before {
  border-color: #FFB375;
}

.custom-checkbox > input:checked:active + span::before {
  border-color: transparent;
  background-color: rgba(238, 67, 44, 0.6);
}

/* Disabled state */
.custom-checkbox > input:disabled {
  opacity: 0;
}

.custom-checkbox > input:disabled + span {
  color: rgba(0, 0, 0, 0.38);
  cursor: not-allowed;
}

.custom-checkbox > input:disabled + span::before {
  border-color: currentColor;
}

.custom-checkbox > input:checked:disabled + span::before,
.custom-checkbox > input:indeterminate:disabled + span::before {
  border-color: transparent;
  background-color: currentColor;
}